body{
    background-image: url("../Pictures/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

/*Header design*/
.logo {
  display: flex;
}

/*Navigation bar design*/
.nav {
  margin-left: 150px;
  display: inline-flex;
}

.nav ul {
  list-style: none;
  font-size: 30px;
  font-weight: bold;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  padding: 5px 38px;
  border: 1px solid transparent;
  transition: 0.5 ease;
  color: rgb(12, 12, 147);
}

.nav ul li a:hover {
  background-color: black;
  color: white;
}

.container {
  width: 500px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
  backdrop-filter: blur(80px);
  margin-top: 100px;
  margin-left: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  background: white;
  font-size: 15px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.label-1 {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}

select{
  height: 30px;
  background: white;
  font-size: 15px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.search {
  background-color: rgb(41, 33, 205);
  color: white;
  padding: 5px 40px 5px 40px;
  border: 2px;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 150px;
}

.search:hover {
  background-color: rgb(170, 154, 158);
}


#tab4 {
    font-size: 30px;
    font-family: 'Lucida Sans';
    background-color: cadetblue;
    color: white;
    margin-top: 240px;
}

.link{
  text-align: left;
}

#para5 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#links {
    font-size: 18px;
    text-align: left;
    padding: 30px;
    padding-top: 10px;
}

#footer {
    padding-top: 60px;
    font-size: 26px;
    
}

#para6 {
    font-size: 16px;
    padding-left: 70px;
}

#links a{
    text-decoration: none;
    font-size: 20px; 
    color: rgb(89, 13, 160);
}
 
#links a:hover{
  background-color: black;
  color: white;
}
