.logo{
	display: flex;
}

.image{
	position:relative;
	max-width:800px;
	max-height:800px;
	margin: auto;
}

.image img{
	align-items:middle;
}

.heading1 {
    font-style:bold;
    font-size: 25px;
	text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login{
	font-size:20px;
	position:absolute;
	padding:150px;
	width:650px;
	bottom:0;
}

body{
	background-image: url("../Pictures/bg9.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.input-text input{
	width: 50%;
	height:22px;
	background:white;
	font-size: 15px;
	margin-left: 40px;
}

.input-text input:focus~label,
.input-text input:valid~label{
	font-size: 14px;
	top:10px;
	transform:translateY(-120%);
}

.input-password input{
	width:50%;
	height:22px;
	background:white;
	font-size:15px;
	margin-left: 10px;
}

.button{
	background-color:red;
	color:white;
	padding: 5px 40px 5px 40px;
	border: 2px;
	border-radius:8px;
	cursor: pointer;
}

.button a{
	text-decoration: none;
	color: azure;
	font-weight: bold;
	font-size: 25px;
}

.button:hover{
	background-color: rgb(170, 154, 158);
}

p a{
	text-decoration: none;
	padding-left: 10px;
	color: blue;
}

p a:hover{
	color: brown;
}

.forgot{
	text-decoration: none;
	color: blue;
}

.forgot:hover{
	color: brown;
}

.rem{
	display: flex;
    align-items: center;
    margin: 25px 0 30px 0;
}

.rem label{
	display: flex;
    align-items: center;
}

.rem p{
	margin-left: 8px;
}